:root {
  --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  --button-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  --font-color: #fff;
  --footer-color: #888;
  --background-color: #fff;
  --text-color: #333;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('https://lyi.xyc.best/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Arial', sans-serif;
  color: var(--font-color);
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 50px;
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-column {
  align-items: center; /* Center the buttons in the right column */
}

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: var(--button-shadow);
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-size: 2em;
  text-shadow: var(--text-shadow);
}

.motto {
  font-size: 1em;
  text-shadow: var(--text-shadow);
  align-self: flex-start;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.button {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 15px 30px;
  margin: 10px 0;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 20px;
  box-shadow: var(--button-shadow);
}

.button:hover {
  background-color: #f8f8f8;
  color: #000;
}

footer {
  width: 100%;
  text-align: center;
  color: var(--footer-color);
  padding-top: 20px;
  position: relative;
}

footer p {
  margin: 0;
  font-size: 0.8em;
}

.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.fade-in-visible {
  opacity: 1;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .left-column, .right-column {
    align-items: center;
  }

  .avatar {
    width: 120px;
    height: 120px;
  }

  h1 {
    font-size: 1.5em;
  }

  .motto {
    align-self: center;
    font-size: 0.9em;
  }

  .button {
    padding: 8px 16px;
  }
}
